* {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#wrap {
	width: 802px;
	margin: 50px auto;
}

#menubar {
	padding: 1px 0px;
	background-color: lightgray;
	position: relative;
	width: 800px;
	border: 1px solid black;
	border-bottom-width: 0px;
}

#coordinates {
	float:left;
	
}

button#clear {float:left;}

#canvas {
	border: 1px solid black;
}

#polygon_edges, #curve_edges {
	width:80px;
}